#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Categories=Filesystem;Encryption;
Terminal=false
Comment=Mount/umount Bitlocker encrypted disks
Exec=bash -c "/opt/dislocker-gui/dislocker-gui.sh"
Name=Dislocker GUI
Icon=/opt/dislocker-gui/icon.png
